.box-product {
  float: right;
  font-family: Arial, "Roboto", sans-serif;
  color: #ffffff;
}

.item {
  font-size: 20px;
  height: 24px;
  width: 203px;
  margin-bottom: 30px;
}

.first {
  padding-top: 99px;
}

.item.-texto {
  font-size: 18px;
  width: 560px;
}

.box {
  margin: 80px 0;
}

.item.-action {
  display: inline;
  padding-right: 38px;
}
