.box-product {
  font-family: Arial, "Roboto", sans-serif;
  color: #ffffff;
  margin-top: 150px;
}

.item {
  font-size: 20px;
  height: 24px;
  width: 203px;
  margin-bottom: 30px;
}

.first {
  padding-top: 99px;
}

.item.-texto {
  font-size: 18px;
  width: 560px;
}

.box {
  margin: 80px 0;
}
<<<<<<< HEAD
=======

.item.-action {
  display: inline;
  padding-right: 38px;
}
>>>>>>> 5fdeacb1733cb7a8a14280ca734051f88783f0f4
