.photo-product{
  display: inline-block;
  width: 554px;
  background-color: #ffffff;
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 156px;
}
